/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    font-family: 'Cabin', sans-serif;
}

html {
    font-size: 1em;
    line-height: 1.4;
    background-color: #f8ca00;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#oren{ 
}

#oren-is{
    color: white;
    font-size: 3em;
    font-family: 'Cabin', sans-serif;
    text-shadow: 1px 1px 1px #000000;
        filter: dropshadow(color=#3d390d, offx=2, offy=2);
    margin: auto;
    text-align: center;
    position: relative;
    padding-top: 20%;
}



#navigation {
    list-style: none;
    font-size: 1.5em;
    margin-left: 30%;
    margin-top: 150px;
    height: 500px;
    width: 50px;

}

#navigation ul {

    list-style: none;
}
#navigation ul li {
    padding-bottom: 30px;
}

#navigation ul li a {
    color: black;
    text-decoration: underline;

}

#navigation ul li a:visited{
    color: purple;
    text-decoration: none;
}

#smalltext{
    color: rgba(0,0,0,.35);
    width: 275px;
    height: 25px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
    margin-left: 75px;
}

.generate-buzzword{
    -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    text-shadow: none;
    background-color: #8ace0f;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    position: absolute;
    margin-top: 10%;
    margin-left: 25%;
    color:white;
    font-family: 'Cabin', sans-serif;
    background: #8ace0f; /* Old browsers */
    background: #8ace0f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhY2UwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYWNjNmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #8ace0f 0%, #aacc6c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ace0f), color-stop(100%,#aacc6c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8ace0f 0%,#aacc6c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8ace0f 0%,#aacc6c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8ace0f 0%,#aacc6c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8ace0f 0%,#aacc6c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ace0f', endColorstr='#aacc6c',GradientType=0 ); /* IE6-8 */
    -webkit-box-shadow:  2px 2px 0px 0px rgba(0, 0, 0, .15);
        
        box-shadow:  2px 2px 0px 0px rgba(0, 0, 0, .15);
    text-shadow: 1px 1px 1px #000000;
        filter: dropshadow(color=#3d390d, offx=1, offy=1);
.generate-buzzword:visited{
    color: white;

}

.generate-buzzword:hover{
    background: #0DEBFF; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOGFjZTBmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhY2M2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #0DEBFF 0%, #aacc6c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0DEBFF), color-stop(100%,#aacc6c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #0DEBFF 0%,#aacc6c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #0DEBFF 0%,#aacc6c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #0DEBFF 0%,#aacc6c 100%); /* IE10+ */
    background: linear-gradient(135deg,  #0DEBFF 0%,#aacc6c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ace0f', endColorstr='#aacc6c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
        }

}

/****************************************************************/

@media screen and (min-width: 481px) {
    
    #oren{ 
}

#oren-is{
    color: white;
    font-size: 3em;
    font-family: 'Cabin', sans-serif;
    text-shadow: 1px 1px 1px #000000;
        filter: dropshadow(color=#3d390d, offx=2, offy=2);
    margin: auto;
    text-align: center;
    position: relative;
    padding-top: 15%;
}



#navigation {
    list-style: none;
    font-size: 1.25em;
    margin-left: 30%;
    position: absolute;
    margin-top: 10%;
    width: 100%;
}

#navigation ul li {
    display: inline;
    padding-right: 70px;
}

#navigation ul li a {
    color: black;
    text-decoration: none;
}

#navigation ul li a:visited{
    color: purple;
    text-decoration: none;
}

#smalltext{
    color: rgba(0,0,0,.35);
    width: 275px;
    height: 25px;
    margin: auto;
    margin-top: 30%;
    text-align: center;
    font-size: 1em;
}

.generate-buzzword{
    -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    text-shadow: none;
    background-color: #8ace0f;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    position: fixed;
    margin-top: 3%;
    margin-left: 44%;
    color:white;
    font-family: 'Cabin', sans-serif;
    background: #8ace0f; /* Old browsers */
    background: #8ace0f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhY2UwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYWNjNmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #8ace0f 0%, #aacc6c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ace0f), color-stop(100%,#aacc6c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8ace0f 0%,#aacc6c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8ace0f 0%,#aacc6c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8ace0f 0%,#aacc6c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8ace0f 0%,#aacc6c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ace0f', endColorstr='#aacc6c',GradientType=0 ); /* IE6-8 */
    -webkit-box-shadow:  2px 2px 0px 0px rgba(0, 0, 0, .15);
        
        box-shadow:  2px 2px 0px 0px rgba(0, 0, 0, .15);
    text-shadow: 1px 1px 1px #000000;
        filter: dropshadow(color=#3d390d, offx=1, offy=1);
.generate-buzzword:visited{
    color: white;

}

.generate-buzzword:hover{
    background: #0DEBFF; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOGFjZTBmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhY2M2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #0DEBFF 0%, #aacc6c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0DEBFF), color-stop(100%,#aacc6c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #0DEBFF 0%,#aacc6c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #0DEBFF 0%,#aacc6c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #0DEBFF 0%,#aacc6c 100%); /* IE10+ */
    background: linear-gradient(135deg,  #0DEBFF 0%,#aacc6c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ace0f', endColorstr='#aacc6c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
        }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
